.formatTheTop {
    text-align: center;
    width: 100%;
    color: bisque;
    background-color: mediumpurple;
}
body{
    margin: 0;
    background-image: url(record.png);
    background-repeat: repeat;
    background-size: 20%;
}
.actualContent {
    background-color: lightgrey;
    padding: 1em;
}